<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mrows</key>
	<array>
		<dict>
			<key>arows</key>
			<array>
				<dict>
					<key>multi</key>
					<true/>
					<key>title</key>
					<string>是否有以下症状</string>
					<key>rowArray</key>
					<array>
						<dict>
							<key>content</key>
							<string>喘息</string>
							<key>mid</key>
							<string>1</string>
						</dict>
						<dict>
							<key>content</key>
							<string>咳嗽</string>
							<key>mid</key>
							<string>2</string>
						</dict>
						<dict>
							<key>content</key>
							<string>气促</string>
							<key>mid</key>
							<string>3</string>
						</dict>
						<dict>
							<key>content</key>
							<string>胸闷</string>
							<key>mid</key>
							<string>4</string>
						</dict>
						<dict>
							<key>content</key>
							<string>其他</string>
							<key>mid</key>
							<string>5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>multi</key>
					<true/>
					<key>title</key>
					<string>症状诱因</string>
					<key>rowArray</key>
					<array>
						<dict>
							<key>content</key>
							<string>接触变应原</string>
							<key>mid</key>
							<string>1</string>
						</dict>
						<dict>
							<key>content</key>
							<string>冷空气</string>
							<key>mid</key>
							<string>2</string>
						</dict>
						<dict>
							<key>content</key>
							<string>物理刺激</string>
							<key>mid</key>
							<string>3</string>
						</dict>
						<dict>
							<key>content</key>
							<string>化学刺激</string>
							<key>mid</key>
							<string>4</string>
						</dict>
						<dict>
							<key>content</key>
							<string>呼吸道感染</string>
							<key>mid</key>
							<string>5</string>
						</dict>
						<dict>
							<key>content</key>
							<string>呼吸困难</string>
							<key>mid</key>
							<string>6</string>
						</dict>
						<dict>
							<key>content</key>
							<string>运动</string>
							<key>mid</key>
							<string>7</string>
						</dict>
						<dict>
							<key>content</key>
							<string>其它</string>
							<key>mid</key>
							<string>8</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>sectiontitle</key>
			<string>症状</string>
		</dict>
		<dict>
			<key>sectiontitle</key>
			<string>病情控制程度（过去2-4周）</string>
			<key>arows</key>
			<array>
				<dict>
					<key>multi</key>
					<false/>
					<key>title</key>
					<string>日间症状</string>
					<key>rowArray</key>
					<array>
						<dict>
							<key>content</key>
							<string>无</string>
							<key>mid</key>
							<string>1</string>
						</dict>
						<dict>
							<key>content</key>
							<string>小于2天/周</string>
							<key>mid</key>
							<string>2</string>
						</dict>
						<dict>
							<key>content</key>
							<string>大于2天/周</string>
							<key>mid</key>
							<string>3</string>
						</dict>
						<dict>
							<key>content</key>
							<string>每天有症状</string>
							<key>mid</key>
							<string>4</string>
						</dict>
						<dict>
							<key>content</key>
							<string>每天持续有症状</string>
							<key>mid</key>
							<string>5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>multi</key>
					<false/>
					<key>title</key>
					<string>夜间症状／憋醒</string>
					<key>rowArray</key>
					<array>
						<dict>
							<key>content</key>
							<string>无</string>
							<key>mid</key>
							<string>1</string>
						</dict>
						<dict>
							<key>content</key>
							<string>1~2次/月</string>
							<key>mid</key>
							<string>2</string>
						</dict>
						<dict>
							<key>content</key>
							<string>3~4次/月</string>
							<key>mid</key>
							<string>3</string>
						</dict>
						<dict>
							<key>content</key>
							<string>经常出现,通常每晚均有症状</string>
							<key>mid</key>
							<string>4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>multi</key>
					<false/>
					<key>title</key>
					<string>活动受限</string>
					<key>rowArray</key>
					<array>
						<dict>
							<key>content</key>
							<string>无</string>
							<key>mid</key>
							<string>1</string>
						</dict>
						<dict>
							<key>content</key>
							<string>轻微受限</string>
							<key>mid</key>
							<string>2</string>
						</dict>
						<dict>
							<key>content</key>
							<string>部分受限</string>
							<key>mid</key>
							<string>3</string>
						</dict>
						<dict>
							<key>content</key>
							<string>严重受限</string>
							<key>mid</key>
							<string>4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>multi</key>
					<false/>
					<key>title</key>
					<string>急性发作</string>
					<key>rowArray</key>
					<array>
						<dict>
							<key>content</key>
							<string>无</string>
							<key>mid</key>
							<string>1</string>
						</dict>
						<dict>
							<key>content</key>
							<string>有</string>
							<key>mid</key>
							<string>2</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sectiontitle</key>
			<string>用药情况</string>
			<key>arows</key>
			<array>
				<dict>
					<key>multi</key>
					<false/>
					<key>title</key>
					<string>使用应急缓解药物</string>
					<key>rowArray</key>
					<array>
						<dict>
							<key>content</key>
							<string>无</string>
							<key>mid</key>
							<string>1</string>
						</dict>
						<dict>
							<key>content</key>
							<string>小于2天/周</string>
							<key>mid</key>
							<string>2</string>
						</dict>
						<dict>
							<key>content</key>
							<string>大于2天/周</string>
							<key>mid</key>
							<string>3</string>
						</dict>
						<dict>
							<key>content</key>
							<string>每天使用</string>
							<key>mid</key>
							<string>4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>multi</key>
					<true/>
					<key>title</key>
					<string>是否服用以下药物</string>
					<key>rowArray</key>
					<array>
						<dict>
							<key>content</key>
							<string>舒利迭</string>
							<key>mid</key>
							<string>1</string>
						</dict>
						<dict>
							<key>content</key>
							<string>信必可</string>
							<key>mid</key>
							<string>2</string>
						</dict>
						<dict>
							<key>content</key>
							<string>舒利达</string>
							<key>mid</key>
							<string>3</string>
						</dict>
						<dict>
							<key>content</key>
							<string>孟鲁司特</string>
							<key>mid</key>
							<string>4</string>
						</dict>
						<dict>
							<key>content</key>
							<string>其他</string>
							<key>mid</key>
							<string>5</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
