<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>count</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>kesou</string>
		<key>titleName</key>
		<string>咳嗽</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>chuanxi</string>
		<key>titleName</key>
		<string>喘息</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>xiongmen</string>
		<key>titleName</key>
		<string>胸闷</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>huxikunnan</string>
		<key>titleName</key>
		<string>呼吸困难</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>huodongshouxian</string>
		<key>titleName</key>
		<string>活动受限</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>yejianbiexing</string>
		<key>titleName</key>
		<string>夜间憋醒</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>biyang</string>
		<key>titleName</key>
		<string>鼻痒</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>shizhen</string>
		<key>titleName</key>
		<string>湿疹</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>liuqingti</string>
		<key>titleName</key>
		<string>流清涕</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>dapenti</string>
		<key>titleName</key>
		<string>打喷嚏</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>qita</string>
		<key>titleName</key>
		<string>其它</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>ganjuelianghao</string>
		<key>titleName</key>
		<string>感觉良好</string>
	</dict>
</array>
</plist>
