<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>tupian</string>
		<key>title</key>
		<string>照片</string>
	</dict>
	<dict>
		<key>image</key>
		<string>xiangji_</string>
		<key>title</key>
		<string>相机</string>
	</dict>
	<dict>
		<key>image</key>
		<string>kuaijiehuifu</string>
		<key>title</key>
		<string>快捷回复</string>
	</dict>
	<dict>
		<key>image</key>
		<string>biaodan</string>
		<key>title</key>
		<string>表单</string>
	</dict>
	<dict>
		<key>image</key>
		<string>doctor_qunfa_shangpin</string>
		<key>title</key>
		<string>推荐商品</string>
	</dict>
</array>
</plist>
